//
// Icon Box
// --------------------------------------------------

.icon-box {
	display: block;
	max-width: $icon-box-max-width;
	padding: ($spacer * 1.5);
	transition: all .3s .12s;
	text-decoration: none;
	.icon-box-icon {
		display: inline-block;
		width: $icon-box-icon-size;
		height: $icon-box-icon-size;
		margin-bottom: ($spacer * 1.75);
		transition: all .3s .12s;
		// border-radius: 50%;
		// background-color: rgba($primary, .5);
		color: $primary;
		font-size: ($icon-box-icon-size / 2.5);
		line-height: $icon-box-icon-size;
		text-align: center;
	}
	.icon-box-title {
		margin-bottom: ($spacer * .75);
		font: {
			size: $font-size-lg;
			weight: bold;
		}
	}
	.icon-box-text {
		margin-bottom: ($spacer * .75);
		color: $gray-500;
	}
	.icon-box-link {
		display: inline-block;
		padding-bottom: ($spacer / 2);
		color: $primary;
		font: {
			size: $font-size-sm;
			weight: bold;
		}
		letter-spacing: .1em;
		text-decoration: none;
		> i {
			display: inline-block;
			margin-left: .125rem;
			transition: all .25s;
			font-size: 1.2em;
			vertical-align: middle;
		}
		&:hover > i {
			transform: translateX(3px);
		}
	}
	&:hover {
		background-color: $white;
		box-shadow: $card-box-shadow;
	}
}
